html,
body {
  margin: 0;
  padding: 0;
}

main {
  background: linear-gradient(to left, #f7b733, #fc4a1a);
  background-repeat: no-repeat;
  height: 100vh;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 4rem;
}

button {
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  outline: none;
  border: 1px solid darkred;
  cursor: pointer;
}

#idea {
  text-align: center;
}

.fun1 {
  background: linear-gradient(to right, #f7b633e4, #fc4b1aa9);
  min-height: 100vh;
  color: #090909;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
